@use '../custom' as *;

.footer-section {
    padding: 7.5rem 0;
    background: $primary;

    .footer-nav {
        // display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 1.5rem;
    }

    .footer-logo {
        width: 100px;
    }

    img {
        width: 100%;
    }

    .footer-links {
        list-style: none;
        // display: flex;
        align-items: center;
        margin-bottom: 0;
    }

    li {
        padding: 0px 10px;
    }

    li a {
        color: $white;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 600;
    }

    li a:hover {
        color: $secondary;
    }

    .footer-contant-area {
        font-size: 15px;
        padding-bottom: 1rem;
    }

    .footer-icon {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            border: 3px solid $white;
            border-radius: 50%;
            margin: 0px 5px;
        }

        a:hover {
            border: 3px solid $secondary;
            fill: $secondary;
        }

        a:hover svg {
            fill: $secondary;
        }

        svg {
            padding: 15px;
            fill: $white;
        }
    }

    @media only screen and (max-width: 600px) {
        .footer-logo {
            margin: 0 auto;
            padding-bottom: 20px;
        }

        .footer-links {
            text-align: center;
        }
    }
}