@use '../custom' as *;
@use '../components/mixins' as *;


.box-services {
    background: $primary;
    padding: 7.5rem 0;
}

.service-card {
    padding: 50px 40px;
    background: $white;

    // padding-right: 40px;
    h4 {
        font-size: 26px;
        margin-bottom: 15px;
        font-weight: 600;
    }

    p {
        margin-bottom: 0;
        font-size: 18px;
    }

    svg {
        height: 60px;
        margin-top: 0;
        margin-bottom: 20px;
    }

    @include svg_color;

}